---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import ButtonWhatsApp from "../components/ButtonWhatsApp.astro";
const { about_us, philosophy, join_us } = Astro.props;
---

<Layout>
  <main class="bg-dark_cyan-500">
    <!-- About Us Section -->
    <div class="md:flex">
      <div
        class="flex flex-col items-center justify-center bg-beige-500 py-5 md:w-1/2 md:items-start md:justify-center md:p-8 md:py-16 lg:p-14"
      >
        <h1
          class="mb-1 font-titles text-3xl capitalize md:text-left md:text-4xl md:text-background_cyan-500"
        >
          {about_us.heading}
        </h1>
        <p>
          {about_us.subheading.main}
          <span class="font-titles capitalize">{about_us.subheading.span}</span>
        </p>
        <p class="mt-5 p-3 text-center text-lg md:p-0 md:text-left">
          {about_us.description}
        </p>
        <div>
          <ButtonWhatsApp data={about_us} bgColor="bg-lime_green-600" />
        </div>
      </div>
      <div class="md:w-1/2">
        <Image
          src={about_us.image.src}
          alt={about_us.image.alt}
          class="h-full w-full object-cover"
        />
      </div>
    </div>

    <!-- Philosophy Section-->
    <div class="md:flex">
      <div
        class="flex flex-col items-center justify-center bg-dark_cyan-500 py-5 md:order-2 md:w-1/2 md:items-start md:justify-center md:p-8 md:py-16 lg:p-14"
      >
        <h2
          class="mb-1 font-titles text-3xl capitalize text-yellow-500 md:text-left md:text-4xl"
        >
          {philosophy.heading}
        </h2>
        <p class="text-white">
          {philosophy.subheading.main} a&nbsp;<span
            class="font-titles capitalize text-yellow-500"
            >{philosophy.subheading.span}</span
          >
        </p>
        <p class="mt-5 p-3 text-center text-lg text-white md:p-0 md:text-left">
          {philosophy.description}
        </p>
        <div>
          <ButtonWhatsApp data={philosophy} bgColor="bg-yellow-500" />
        </div>
      </div>
      <div class="md:w-1/2">
        <Image
          src={philosophy.image.src}
          alt={philosophy.image.alt}
          class="h-full w-full object-cover"
        />
      </div>
    </div>

    <!-- Join Us Section-->
    <div class="relative bg-background_cyan-500 p-10 md:py-20">
      <h3
        class="mb-1 text-center font-titles text-3xl capitalize text-yellow-500 drop-shadow-xl md:text-4xl"
      >
        {join_us.heading}
      </h3>
      <p
        class="mt-3 rounded-lg bg-soft_yellow-500 bg-opacity-10 p-4 text-center font-paragraphs text-lg text-white lg:mx-auto lg:w-3/4"
      >
        {join_us.description}
      </p>
      <div class="text-center">
        <ButtonWhatsApp data={philosophy} bgColor="bg-yellow-500" />
      </div>
    </div>
  </main>
</Layout>
