---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import ButtonWhatsApp from "../components/ButtonWhatsApp.astro";
const { about_us, philosophy, join_us } = Astro.props;
---

<Layout>
  <main class="bg-dark_cyan-500">
    <!-- About Us Section -->
    <div class="md:flex">
      <div
        class="bg-beige-500 flex flex-col items-center justify-center py-5 md:items-start md:justify-center md:p-8 md:py-16 md:w-1/2 lg:p-14"
      >
        <h1
          class="font-titles text-2xl uppercase md:text-3xl md:text-background_cyan-500 md:text-left"
        >
          {about_us.heading}
        </h1>
        <p>
          {about_us.subheading.main}
          <span class="font-titles uppercase">{about_us.subheading.span}</span>
        </p>
        <p class="mt-5 p-3 text-center md:p-0 md:text-left">
          {about_us.description}
        </p>
        <div>
          <ButtonWhatsApp data={about_us} bgColor="bg-lime_green-600" />
        </div>
      </div>
      <div class="md:w-1/2">
        <Image
          src={about_us.image.src}
          alt={about_us.image.alt}
          class="h-full object-cover w-full"
        />
      </div>
    </div>

    <!-- Philosophy Section-->
    <div class="md:flex">
      <div
        class="bg-dark_cyan-500 flex flex-col items-center justify-center lg:p-14 md:items-start md:justify-center md:order-2 md:p-8 md:py-16 md:w-1/2 py-5"
      >
        <h1
          class="font-titles text-2xl text-yellow-500 uppercase md:text-3xl md:text-left"
        >
          {philosophy.heading}
        </h1>
        <p class="text-white">
          {philosophy.subheading.main} a&nbsp;<span
            class="font-titles text-yellow-500 uppercase"
            >{philosophy.subheading.span}</span
          >
        </p>
        <p class="mt-5 p-3 text-center text-white md:p-0 md:text-left">
          {philosophy.description}
        </p>
        <div>
          <ButtonWhatsApp data={philosophy} bgColor="bg-yellow-500" />
        </div>
      </div>
      <div class="md:w-1/2">
        <Image
          src={philosophy.image.src}
          alt={philosophy.image.alt}
          class="h-full object-cover w-full"
        />
      </div>
    </div>

    <!-- Join Us Section-->
    <div class="bg-background_cyan-500 p-10 relative md:py-20">
      <h3
        class="font-titles drop-shadow-xl text-2xl text-center text-yellow-500 uppercase"
      >
        {join_us.heading}
      </h3>
      <p
        class="bg-opacity-10 bg-soft_yellow-500 font-paragraphs mt-3 p-4 rounded-lg text-center text-lg text-white lg:mx-auto lg:w-3/4"
      >
        {join_us.description}
      </p>
      <div class="text-center">
        <ButtonWhatsApp data={philosophy} bgColor="bg-yellow-500" />
      </div>
    </div>
  </main>
</Layout>
