---
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLangFromUrl, useTranslationsForRoutes } from "../i18n/utils";
import { Image } from "astro:assets";
import TourCard from "../components/TourCard.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import ButtonWhatsApp from "../components/ButtonWhatsApp.astro";

const { data, tours } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const path = useTranslationsForRoutes(lang);
---

<Layout>
  <Hero data={data.hero} />

  <!-- tours section -->
  <section class="tours-section bg-background_cyan-500 py-20">
    <div class="container mx-auto w-11/12">
      <div class="pb-6 pt-12">
        <h2
          class="ml-4 inline-block border-b border-dashed border-yellow-500 font-titles text-2xl capitalize leading-normal text-yellow-500 sm:text-5xl"
        >
          {data.tours.heading}
        </h2>
        <div class="ms-4 inline-block">
          <ButtonWhatsApp data={data.tours} bgColor="bg-yellow-500" />
        </div>
      </div>
      <div class="mx-auto px-4">
        <div class="-mx-4 flex flex-wrap">
          {tours.map((tour) => <TourCard tour={tour} />)}

          <div class="mb-5 w-full px-4 md:w-1/2 xl:w-1/4">
            <div
              class="flex h-full flex-col items-center justify-center bg-dark_cyan-600 px-3 py-10 text-center shadow-xl"
            >
              <a
                href={getRelativeLocaleUrl(lang, path("tours"))}
                class="rounded-lg border border-solid border-yellow-500 border-opacity-30 bg-transparent px-4 py-2 font-paragraphs text-9xl font-thin uppercase text-yellow-400 shadow-2xl"
                >+</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-10">
      <div class="text-center">
        <ButtonWhatsApp data={data.tours} bgColor="bg-yellow-500" />
      </div>
    </div>

    <!--classes section  -->
  </section><section class="classes bg-beige-500">
    <div class="mx-auto flex w-10/12 flex-col py-20 lg:flex-row">
      <div
        class="flex w-full flex-col justify-center py-10 pl-0 pr-5 uppercase lg:w-2/5"
      >
        <h4
          class="font-paragraphs font-thin text-lime_green-700 underline decoration-lime_green-500 decoration-0 underline-offset-8"
        >
          {data.classes.subheading}
        </h4>
        <h3
          class="mt-5 font-titles text-5xl font-extrabold uppercase text-background_cyan-500 sm:text-6xl"
        >
          {data.classes.heading}
          <span class="block">{data.classes.heading_span}&nbsp;</span>
        </h3>
        <p class="mt-3 w-5/6 font-thin text-dark_cyan-500">
          {data.classes.paragraph}
        </p>
        <a
          href={getRelativeLocaleUrl(lang, data.classes.button_link)}
          class="mt-6 flex-shrink-0 self-start rounded-lg bg-lime_green-600 px-4 py-2 font-paragraphs font-medium text-white"
          >{data.classes.button_text}
        </a>
      </div>
      <div
        class="classes-photos-container flex w-full overflow-hidden rounded-xl lg:w-3/5"
      >
        <div class="w-1/3">
          <Image
            src={data.classes.image_1.src}
            alt={data.classes.image_1.alt}
            class="h-full w-full object-cover"
          />
        </div>
        <div class="w-1/3">
          <Image
            src={data.classes.image_2.src}
            alt={data.classes.image_2.alt}
            class="h-full w-full object-cover"
          />
        </div>
        <div class="w-1/3">
          <Image
            src={data.classes.image_3.src}
            alt={data.classes.image_3.alt}
            class="h-full w-full object-cover"
          />
        </div>
      </div>
    </div>

    <!-- rentals section -->
  </section><section class="alquileres bg-dark_cyan-500 py-20">
    <div class="container mx-auto w-11/12 md:w-9/12 lg:w-10/12 xl:w-8/12">
      <div class="pb-6 pt-12">
        <h2
          class="ml-4 inline-block border-b border-dashed border-yellow-500 font-titles text-3xl capitalize leading-normal tracking-wide text-yellow-500 sm:text-5xl"
        >
          {data.rentals.heading}
        </h2>
      </div>
      <div class="container">
        <div class="-mx-4 flex flex-wrap">
          {
            data.rentals.cards.map((card) => (
              <div class="mb-5 w-full px-2 md:w-1/2 lg:w-1/4">
                <div class="rental-card relative w-full shadow shadow-background_cyan-500">
                  <Image
                    src={card.image}
                    alt="Alquiler de Kayak"
                    class="absolute left-0 top-0 h-full w-full object-cover"
                  />
                  <div class="absolute bottom-0 left-0 flex h-1/3 w-full flex-col justify-around bg-soft_yellow-500 bg-opacity-40">
                    <h3 class="text-center font-titles text-xl uppercase text-background_cyan-500 drop-shadow-2xl">
                      {card.duration}
                    </h3>
                    <p class="mt-2 text-center font-bold tracking-wide text-background_cyan-500">
                      {card.cost}{" "}
                    </p>
                    <div class="mb-2 text-center">
                      <a
                        href={card.button_link}
                        class="inline-block rounded-lg bg-yellow-500 px-4 py-2 font-paragraphs font-medium uppercase"
                      >
                        {card.button_text}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            ))
          }

          <div class="mb-5 w-full px-2 md:w-1/2 lg:w-1/4">
            <div
              class="rental-card relative w-full shadow shadow-background_cyan-500"
            >
              <div
                class="absolute bottom-0 left-0 flex h-full w-full flex-col justify-around bg-background_cyan-500 bg-opacity-40"
              >
                <div class="mb-2 text-center">
                  <a
                    href={getRelativeLocaleUrl(lang, path("rentals"))}
                    class="rounded-lg border border-solid border-yellow-500 border-opacity-30 bg-transparent px-4 py-2 font-paragraphs text-9xl font-thin uppercase text-yellow-400 shadow-2xl"
                    >+</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-10 text-center">
      <ButtonWhatsApp data={data.tours} bgColor="bg-yellow-500" />
    </div>
  </section>
</Layout>

<style>
  .classes-photos-container {
    //height: 80vh;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  }

  .rental-card {
    height: 450px;
  }

  @media (min-width: 640px) {
    .rental-card {
      height: 600px;
    }
  }

  @media (min-width: 1024px) {
    .rental-card {
      height: 70vh;
    }
  }
</style>
