---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import ButtonWhatsApp from "../components/ButtonWhatsApp.astro";
const { data } = Astro.props;
---

<Layout data={data.headMetaData}>
  <main class="bg-dark_cyan-500">
    <section
      class="bg-beige-500 text-center text-gray-500 lg:py-16 lg:text-left"
    >
      <div class="container mx-auto px-4 lg:w-11/12 xl:w-10/12">
        <div class="-mx-4 flex flex-wrap">
          <div
            class="flex w-full flex-col justify-center p-4 text-lg lg:order-1 lg:w-5/12"
          >
            <div>
              <h1
                class="mb-4 font-titles text-5xl capitalize tracking-wide text-dark_cyan-500 md:text-7xl"
              >
                {data.heading}
              </h1>
              <h2
                class="font-paragraphs text-xl font-bold capitalize text-dark_cyan-500"
              >
                {data.subheading}:&nbsp;
              </h2>
              <p
                class="inline-block border-b border-solid border-lime_green-500 border-opacity-40 font-medium text-lime_green-600"
              >
                {data.equipment}
              </p>
            </div>
            <h3
              class="mt-5 font-paragraphs text-lg font-bold capitalize text-dark_cyan-500"
            >
              {data.rental_modalities.title}
            </h3>
            <ul>
              {
                data.rental_modalities.list.map((item) => (
                  <li>
                    {item.duration}:{" "}
                    <span class="font-bold text-dark_cyan-500">
                      {item.cost}
                    </span>
                  </li>
                ))
              }
            </ul>
            <h3
              class="mt-5 font-paragraphs text-lg font-bold capitalize text-dark_cyan-500"
            >
              {data.club_three_days.title}:
            </h3>
            <p>
              {data.club_three_days.duration}
            </p>
            <p class="text-dark_cyan-500">
              {data.club_three_days.cost}
            </p>

            <h3
              class="mt-5 font-paragraphs text-lg font-bold capitalize text-dark_cyan-500"
            >
              {data.club_five_days.title}:
            </h3>
            <p>
              {data.club_five_days.duration}
            </p>
            <p class="text-dark_cyan-500">
              {data.club_five_days.cost}
            </p>
            <div>
              <ButtonWhatsApp bgColor="bg-lime_green-600" />
            </div>
          </div>
          <div class="w-full p-4 lg:order-2 lg:ml-auto lg:w-6/12">
            <div
              class="-mx-4 flex h-full items-center justify-center overflow-hidden rounded-lg p-2 shadow-lg shadow-beige-700"
            >
              <Image
                src={data.image.src}
                alt={data.image.alt}
                class="h-full w-full rounded-lg object-cover"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
