---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import ButtonWhatsApp from "../components/ButtonWhatsApp.astro";
const { data } = Astro.props;
---

<Layout>
  <main class="bg-dark_cyan-500">
    <section
      class="bg-beige-500 text-center text-gray-500 lg:py-16 lg:text-left"
    >
      <div class="container mx-auto px-4 lg:w-11/12 xl:w-10/12">
        <div class="-mx-4 flex flex-wrap">
          <div
            class="flex flex-col justify-center p-4 text-lg w-full lg:order-1 lg:w-5/12"
          >
            <div>
              <h1
                class="font-titles mb-4 text-5xl text-dark_cyan-500 tracking-wide uppercase"
              >
                {data.heading}
              </h1>
              <h2
                class="capitalize font-bold font-paragraphs text-dark_cyan-500 text-xl"
              >
                {data.subheading}:&nbsp;
              </h2>
              <p
                class="border-b border-lime_green-500 border-opacity-40 border-solid font-medium inline-block text-lime_green-600"
              >
                {data.equipment}
              </p>
            </div>
            <h3
              class="capitalize font-bold font-paragraphs mt-5 text-dark_cyan-500 text-lg"
            >
              {data.rental_modalities.title}
            </h3>
            <ul>
              {
                data.rental_modalities.list.map((item) => (
                  <li>
                    {item.duration}:{" "}
                    <span class="font-bold text-dark_cyan-500">
                      {item.cost}
                    </span>
                  </li>
                ))
              }
            </ul>
            <h3
              class="capitalize font-bold font-paragraphs mt-5 text-dark_cyan-500 text-lg"
            >
              {data.club_three_days.title}:
            </h3>
            <p class="text-dark_cyan-500">
              {data.club_three_days.cost}
            </p>

            <h3
              class="capitalize font-bold font-paragraphs mt-5 text-dark_cyan-500 text-lg"
            >
              {data.club_five_days.title}:
            </h3>
            <p class="text-dark_cyan-500">
              {data.club_five_days.cost}
            </p>
            <div>
              <ButtonWhatsApp bgColor="bg-lime_green-600" />
            </div>
          </div>
          <div class="p-4 w-full lg:ml-auto lg:order-2 lg:w-6/12">
            <div
              class="-mx-4 flex h-full items-center justify-center overflow-hidden p-2 rounded-lg shadow-beige-700 shadow-lg"
            >
              <Image
                src={data.image.src}
                alt={data.image.alt}
                class="h-full object-cover rounded-lg w-full"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
