---
import Layout from "../layouts/Layout.astro";
import ButtonWhatsApp from "../components/ButtonWhatsApp.astro";
import { Image } from "astro:assets";

const { data } = Astro.props;
---

<Layout>
  <section class="bg-gray-800 relative text-white">
    <div
      class="bg-dark_cyan-500 container mx-auto px-4 py-10 relative md:bg-transparent md:py-32 md:z-50"
    >
      <div class="flex flex-wrap -mx-4">
        <div class="mx-auto px-4 text-center w-full lg:w-8/12">
          <p class="font-medium font-paragraphs mb-2 text-yellow-500 uppercase">
            TOUR
          </p>
          <h1
            class="drop-shadow-xl font-extrabold font-titles mb-4 text-6xl uppercase"
          >
            {data.section_1.title}
          </h1>
          <p class="font-light font-paragraphs mb-6 text-xl">
            {data.section_1.description}
          </p>
        </div>
      </div>
      <div class="mt-10">
        <div class="text-center">
          <ButtonWhatsApp bgColor="bg-yellow-500" />
        </div>
      </div>
    </div>
    <Image
      src={data.section_1.image}
      class="h-full inset-0 object-cover relative w-full md:absolute md:z-0"
      alt="tour image"
      widths={[240, 540, 720, Number(data.section_1.image.width)]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) ${Number(
        data.section_1.image.width
      )}px`}
    />
  </section>

  <!-- section 2 -->

  <section class="bg-beige-500 mx-auto p-8 md:py-20">
    <div class="flex flex-col mx-auto md:flex-row lg:w-10/12">
      <div class="md:p-10 md:w-1/2">
        <h3
          class="drop-shadow-xl font-extrabold font-titles mb-4 text-3xl text-center uppercase md:text-left"
        >
          {data.section_2.title}
        </h3>
        <p
          class="font-paragraphs text-center text-background_cyan-500 text-lg md:text-left"
        >
          {data.section_2.description}
        </p>
        <div class="flex flex-col items-center mt-4 md:flex-row">
          <h4 class="font-titles font-bold uppercase text-lg me-2">costo:</h4>
          <p
            class="font-paragraphs text-background_cyan-500 tracking-wider uppercase font-bold"
          >
            {data.section_2.cost}
          </p>
        </div>
        <div class="mt-10"></div>
        <div class="mt-5">
          <div class="mb-4">
            <p class="mb-2 text-center md:text-left">
              <strong
                class="font-titles text-background_cyan-500 tracking-wider uppercase"
                >{data.section_2.highlights.title}</strong
              >
            </p>
            <ul class="mx-auto text-center w-2/3 md:mx-0 md:text-left">
              {
                data.section_2.highlights.list.map((item) => (
                  <li class="border-b border-background_cyan-500 border-solid font-paragraphs font-semibold p-2 text-background_cyan-500">
                    {item}
                  </li>
                ))
              }
            </ul>
          </div>
          <div class="my-10 text-center md:text-left">
            <ButtonWhatsApp bgColor="bg-lime_green-600" />
          </div>
        </div>
      </div>
      <div
        class="flex flex-col overflow-hidden relative md:rounded-lg md:shadow-lg md:shadow-soft_yellow-500 md:w-1/2"
      >
        <iframe
          src={data.section_2.map.src}
          width="600"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          class="h-full w-full"></iframe>
        <div class=" bg-soft_yellow-500 flex relative w-full">
          <ul
            class="flex font-bold font-paragraphs justify-around text-center uppercase w-full"
          >
            <li
              class="border-background_cyan-500 border-opacity-50 border-r border-solid h-full p-4 w-full"
            >
              {data.section_2.stats.distance}
            </li>
            <li
              class="border-background_cyan-500 border-opacity-50 border-r border-solid h-full p-4 w-full"
            >
              {data.section_2.stats.duration}
            </li>
            <li class="h-full p-4 w-full">{data.section_2.stats.difficulty}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mb-4 py-10">
      <p
        class="font-bold mb-5 text-background_cyan-500 text-center uppercase md:text-center"
      >
        {data.section_3.title}
      </p>
      <ul
        class="mx-auto text-center md:flex md:flex-wrap md:justify-around md:w-2/3"
      >
        {
          data.section_3.inclusions.map((item) => (
            <li class="bg-dark_cyan-500 border-beige-500 border-r border-solid p-2 text-white md:flex-grow">
              {item}
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Layout>
