---
import Layout from "../layouts/Layout.astro";
import ButtonWhatsApp from "../components/ButtonWhatsApp.astro";
import { Image } from "astro:assets";

const { data } = Astro.props;
---

<Layout>
  <section class="relative bg-gray-800 text-white">
    <div
      class="container relative mx-auto bg-dark_cyan-500 px-4 py-10 md:z-50 md:bg-transparent md:py-32"
    >
      <div class="-mx-4 flex flex-wrap">
        <div class="mx-auto w-full px-4 text-center lg:w-8/12">
          <p
            class="text-shadow-small mb-2 font-paragraphs font-bold uppercase text-white"
          >
            TOUR
          </p>
          <h1
            class="text-shadow mb-4 font-titles text-6xl font-extrabold capitalize"
          >
            {data.section_1.title}
          </h1>
          <p
            class="text-shadow-small mb-6 font-paragraphs text-2xl font-light drop-shadow-lg"
          >
            {data.section_1.description}
          </p>
        </div>
      </div>
      <div class="mt-10">
        <div class="text-center">
          <ButtonWhatsApp bgColor="bg-yellow-500" />
        </div>
      </div>
    </div>
    <Image
      src={data.section_1.image}
      class="relative inset-0 h-full w-full object-cover md:absolute md:z-0"
      alt="tour image"
      widths={[240, 540, 720, Number(data.section_1.image.width)]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) ${Number(
        data.section_1.image.width,
      )}px`}
    />
  </section>

  <!-- section 2 -->

  <section class="mx-auto bg-beige-500 p-8 md:py-20">
    <div class="mx-auto flex flex-col md:flex-row lg:w-10/12">
      <div class="md:w-1/2 md:p-10">
        <h3
          class="mb-4 text-center font-titles text-4xl font-extrabold capitalize drop-shadow-xl md:text-left"
        >
          {data.section_2.title}
        </h3>
        <p
          class="text-center font-paragraphs text-lg text-background_cyan-500 md:text-left"
        >
          {data.section_2.description}
        </p>
        <div class="mt-4 flex flex-col items-center md:flex-row">
          <h4
            class="me-2 font-titles text-2xl capitalize text-background_cyan-500"
          >
            costo:
          </h4>
          <p
            class="font-paragraphs font-bold uppercase tracking-wider text-background_cyan-500"
          >
            {data.section_2.cost}
          </p>
        </div>
        <div class="mt-10"></div>
        <div class="mt-5">
          <div class="mb-4">
            <p
              class="mb-2 text-center font-titles text-2xl capitalize text-background_cyan-500 md:text-left"
            >
              {data.section_2.highlights.title}
            </p>

            <ul class="mx-auto w-2/3 text-center md:mx-0 md:text-left">
              {
                data.section_2.highlights.list.map((item) => (
                  <li class="border-b border-solid border-background_cyan-500 p-2 font-paragraphs font-semibold text-background_cyan-500">
                    {item}
                  </li>
                ))
              }
            </ul>
          </div>
          <div class="my-10 text-center md:text-left">
            <ButtonWhatsApp bgColor="bg-lime_green-600" />
          </div>
        </div>
      </div>
      <div
        class="relative flex flex-col overflow-hidden md:w-1/2 md:rounded-lg md:shadow-lg md:shadow-soft_yellow-500"
      >
        <iframe
          src={data.section_2.map.src}
          width="600"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          class="h-full w-full"></iframe>
        <div class="relative flex w-full bg-soft_yellow-500">
          <ul
            class="flex w-full justify-around text-center font-paragraphs font-bold uppercase"
          >
            <li
              class="h-full w-full border-r border-solid border-background_cyan-500 border-opacity-50 p-4"
            >
              {data.section_2.stats.distance}
            </li>
            <li
              class="h-full w-full border-r border-solid border-background_cyan-500 border-opacity-50 p-4"
            >
              {data.section_2.stats.duration}
            </li>
            <li class="h-full w-full p-4">
              {data.section_2.stats.difficulty}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mb-4 py-10">
      <p
        class="mb-5 text-center font-bold uppercase text-background_cyan-500 md:text-center"
      >
        {data.section_3.title}
      </p>
      <ul
        class="mx-auto text-center md:flex md:w-2/3 md:flex-wrap md:justify-around"
      >
        {
          data.section_3.inclusions.map((item) => (
            <li class="border-r border-solid border-beige-500 bg-dark_cyan-500 p-2 text-white md:flex-grow">
              {item}
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Layout>
